body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
}

.container {
  text-align: center;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
img{
  width: 200px;
  height: 200px;
  border: 50%;
  margin-bottom: 10px;

}

h1 {
  color: #333;
}

.button-container {
  margin: 20px 0;
}

.btn {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color:pink;
  color: #fff;
  font-size: 16px;
}
.background-image {
    width: 100px;  /* Set width to 100px */
    height: 100px;  /* Set height to 100px */
    border-radius: 10px;
    margin-bottom: 20px;
}

.btn:hover {
  background-color: #45a049;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}